.articleDetails {
  min-height: 100%;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  display: inherit;
  object-fit: cover;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.articleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.block {
  margin-top: 20px;
}
